Backup
[
    {
        "id": "1f092a62f7b2fcc1",
        "type": "tab",
        "label": "Освещение",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82c8056ed34d8fe7",
        "type": "tab",
        "label": "Сценарии",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75cdd570ce26a7f0",
        "type": "tab",
        "label": "Климат",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6af2bd55b3e8e5fd",
        "type": "tab",
        "label": "Тест",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60fd0896.9756a8",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "4c2bc885e9c33890",
        "type": "yandex-login",
        "name": "Agalakovartyomolegivich",
        "debugFlag": false
    },
    {
        "id": "aaa544333afd5dc6",
        "type": "AnamicoLights",
        "name": "Комната"
    },
    {
        "id": "2bd2afca.e962e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6b1110b5.183a4",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "1ea77d9f38177e64",
        "type": "server-state-changed",
        "z": "1f092a62f7b2fcc1",
        "name": "Движение в прихожей",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.dvizhenie_prikhozhaia_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 700,
        "wires": [
            [
                "33c3335929eaf0ba"
            ]
        ]
    },
    {
        "id": "33c3335929eaf0ba",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "b3ea70a0049a1395",
                "b5de707a804fd2e9"
            ],
            [
                "3e9e89199991acf1"
            ]
        ]
    },
    {
        "id": "38ec40feb5848731",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Ночь",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.mi_control_hub_light"
        ],
        "data": "{\"transition\": 10, \"rgb_color\":[77,205,214], \"brightness_pct\": 20}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "f292332f5dabc79f",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.mi_control_hub_light"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9e89199991acf1",
        "type": "delay",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 800,
        "wires": [
            [
                "f292332f5dabc79f"
            ]
        ]
    },
    {
        "id": "b3ea70a0049a1395",
        "type": "change",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "3e9e89199991acf1"
            ]
        ]
    },
    {
        "id": "b5de707a804fd2e9",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Освещённость",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.dvizhenie_na_kukhne_illuminance_lux",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 560,
        "y": 580,
        "wires": [
            [
                "61c9e2f585dfeae6"
            ]
        ]
    },
    {
        "id": "bbd56729252dd139",
        "type": "server-state-changed",
        "z": "1f092a62f7b2fcc1",
        "name": "Движение на кухне",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.dvizhenie_na_kukhne_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 1160,
        "wires": [
            [
                "030d9344c866de1e"
            ]
        ]
    },
    {
        "id": "030d9344c866de1e",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "6b9d232bf2b2c1ab",
                "a44232e3f95fd874"
            ],
            [
                "7fe2de8799522c38"
            ]
        ]
    },
    {
        "id": "aca607b6379b645e",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Ночь",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 10, \"brightness_pct\": 100, \"kelvin\": 2200 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "8e4ae1de05411eca",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 10}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "7fe2de8799522c38",
        "type": "delay",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 1280,
        "wires": [
            [
                "8e4ae1de05411eca"
            ]
        ]
    },
    {
        "id": "6b9d232bf2b2c1ab",
        "type": "change",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1220,
        "wires": [
            [
                "7fe2de8799522c38"
            ]
        ]
    },
    {
        "id": "59a55f45e33d988b",
        "type": "server-state-changed",
        "z": "1f092a62f7b2fcc1",
        "name": "Движение в ванной",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.dvizhenie_v_vannoi_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 220,
        "wires": [
            [
                "dca898112f4fe730"
            ]
        ]
    },
    {
        "id": "dca898112f4fe730",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "5aa98c3cd51f0601",
                "5730afce1d3d571c"
            ],
            [
                "da34ac114ab213f4"
            ]
        ]
    },
    {
        "id": "7c020cdab049475d",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Ночной свет",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "vanna"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 20, \"brightness_pct\": 50, \"rgb_color\":[171,18,201] }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d612f324ddc8da38",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Выключение света",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "vanna"
        ],
        "deviceId": [],
        "entityId": [
            "light.yeelink_color5_b476_light"
        ],
        "data": "{\"transition\": 3}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "da34ac114ab213f4",
        "type": "delay",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "e58b82c15aa970f7"
            ]
        ]
    },
    {
        "id": "5aa98c3cd51f0601",
        "type": "change",
        "z": "1f092a62f7b2fcc1",
        "name": "сброс",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "da34ac114ab213f4"
            ]
        ]
    },
    {
        "id": "a44232e3f95fd874",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Освещённость",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.dvizhenie_na_kukhne_illuminance_lux",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "a757fa5b51c81cfc"
            ]
        ]
    },
    {
        "id": "5fb9926d0400787c",
        "type": "server-state-changed",
        "z": "1f092a62f7b2fcc1",
        "name": "Открытие двери",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.datchik_otkrytiia_dveri_contact",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 80,
        "y": 1460,
        "wires": [
            [
                "e4c7bc2596325bad"
            ]
        ]
    },
    {
        "id": "e4c7bc2596325bad",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 1460,
        "wires": [
            [
                "090a16a7a2935fc6",
                "29555d5b0d7d3176"
            ],
            [
                "259d7e59876063bb"
            ]
        ]
    },
    {
        "id": "29555d5b0d7d3176",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Освещённость",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "70",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.dvizhenie_na_kukhne_illuminance_lux",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "8d312b7dc6bd1e94"
            ],
            [
                "090a16a7a2935fc6"
            ]
        ]
    },
    {
        "id": "090a16a7a2935fc6",
        "type": "change",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1520,
        "wires": [
            [
                "259d7e59876063bb"
            ]
        ]
    },
    {
        "id": "259d7e59876063bb",
        "type": "delay",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 1580,
        "wires": [
            [
                "4d7467c49786ed66"
            ]
        ]
    },
    {
        "id": "4d7467c49786ed66",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.yeelink_color5_b476_light"
        ],
        "data": "{\"transition\": 100}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "8d312b7dc6bd1e94",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.girlianda",
            "light.yeelink_color5_b476_light"
        ],
        "data": "{\"transition\": 10}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 1380,
        "wires": [
            [
                "966173d1e67fc9d5"
            ]
        ]
    },
    {
        "id": "08645d545187b3f4",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Артём дома?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.test",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 80,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cb205906a3603c14",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Амина дома?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.amina",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 80,
        "y": 20,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0521fe4124f7756d",
        "type": "weekday",
        "z": "1f092a62f7b2fcc1",
        "name": "Пятница?",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": true,
        "sat": false,
        "x": 60,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5730afce1d3d571c",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Освещённость",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.dvizhenie_na_kukhne_illuminance_lux",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "18741778a61d4144"
            ]
        ]
    },
    {
        "id": "18741778a61d4144",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "31",
                "vt": "num",
                "v2": "149",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "150",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "c296513cf7440574"
            ],
            [
                "4d9ac2eb990f501b"
            ],
            [
                "c6d0847a694f0fe3"
            ]
        ]
    },
    {
        "id": "c6d0847a694f0fe3",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Дневной свет",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "vanna"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 10, \"brightness_pct\": 100, \"kelvin\": 2000 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4d9ac2eb990f501b",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Вечерний свет",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "vanna"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 15, \"brightness_pct\": 100, \"rgb_color\":[171,18,201] }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c296513cf7440574",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Телефон на зарядке",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "charging",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.pixel_4_xl_battery_state",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1000,
        "y": 80,
        "wires": [
            [
                "20038e11c4335728"
            ],
            [
                "7c020cdab049475d"
            ]
        ]
    },
    {
        "id": "20038e11c4335728",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Ночью пописять",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "vanna"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 20, \"brightness_pct\": 50, \"color_name\": \"orange\" }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e58b82c15aa970f7",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Влажность",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.ble_humidity_a4c138b0b2a2",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "c6f1e37dbb4bcf88"
            ]
        ]
    },
    {
        "id": "c6f1e37dbb4bcf88",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "90",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "80",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 790,
        "y": 360,
        "wires": [
            [],
            [
                "e4a6ef4759a8d335"
            ],
            [
                "d612f324ddc8da38"
            ]
        ]
    },
    {
        "id": "e4a6ef4759a8d335",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Любовь",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "vanna"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 15, \"brightness_pct\": 100, \"rgb_color\":[171,18,201] }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "61c9e2f585dfeae6",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "31",
                "vt": "num",
                "v2": "149",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "150",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 580,
        "wires": [
            [
                "38ec40feb5848731"
            ],
            [
                "343b2dc161f221a0"
            ],
            []
        ]
    },
    {
        "id": "343b2dc161f221a0",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Вечер",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.mi_control_hub_light"
        ],
        "data": "{\"transition\": 10, \"rgb_color\":[17,245,226], \"brightness_pct\": 50}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a757fa5b51c81cfc",
        "type": "switch",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "31",
                "vt": "num",
                "v2": "149",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "150",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 1060,
        "wires": [
            [
                "aca607b6379b645e"
            ],
            [
                "fab3a714115f89e6"
            ],
            []
        ]
    },
    {
        "id": "fab3a714115f89e6",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "Вечер",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 5, \"brightness_pct\": 100, \"kelvin\": 2600 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "9096a1b1f490ed5c",
        "type": "server-state-changed",
        "z": "1f092a62f7b2fcc1",
        "name": "Нет движения час",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.dvizhenie_prikhozhaia_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "60",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 1800,
        "wires": [
            [
                "673366b0248c6a51"
            ],
            []
        ]
    },
    {
        "id": "673366b0248c6a51",
        "type": "api-current-state",
        "z": "1f092a62f7b2fcc1",
        "name": "Кухня",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.dvizhenie_na_kukhne_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "60",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 270,
        "y": 1780,
        "wires": [
            [
                "308d6c84d13a8523"
            ],
            []
        ]
    },
    {
        "id": "308d6c84d13a8523",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "vanna",
            "gostinaia",
            "spalnia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 490,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "966173d1e67fc9d5",
        "type": "api-call-service",
        "z": "1f092a62f7b2fcc1",
        "name": "",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.yeelink_color5_1992_light"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "{\"transition\": 15, \"brightness_pct\": 100, \"rgb_color\":[95,209,222] }",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "67e097b0eaa4f53d",
        "type": "server-state-changed",
        "z": "82c8056ed34d8fe7",
        "name": "Кнопка у кровати",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.knopka_u_krovati_action",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 200,
        "wires": [
            [
                "3156adf4bc743c15"
            ]
        ]
    },
    {
        "id": "3156adf4bc743c15",
        "type": "switch",
        "z": "82c8056ed34d8fe7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "6e6f6ee4e993f412"
            ],
            [
                "17ae8729972853e9"
            ],
            [
                "1a81b3922c542d2f"
            ]
        ]
    },
    {
        "id": "f8c40877e7fa0d7e",
        "type": "switch",
        "z": "82c8056ed34d8fe7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "0a90054171f923c7"
            ],
            [
                "6c579a31260ecf94"
            ],
            []
        ]
    },
    {
        "id": "9116ef222254cc0a",
        "type": "server-state-changed",
        "z": "82c8056ed34d8fe7",
        "name": "Кнопка в прихожей",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.knopka_v_prikhozhei_action",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 400,
        "wires": [
            [
                "f8c40877e7fa0d7e"
            ]
        ]
    },
    {
        "id": "6e6f6ee4e993f412",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Кино",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "vanna",
            "gostinaia",
            "spalnia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 100}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "9009bb2ba3536e11"
            ]
        ]
    },
    {
        "id": "9009bb2ba3536e11",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Включи лампа",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.yeelink_color5_1992_light"
        ],
        "data": "{\"transition\": 100}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 780,
        "y": 140,
        "wires": [
            [
                "12b25f126f0db3a7"
            ]
        ]
    },
    {
        "id": "17ae8729972853e9",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Сон",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "vanna",
            "gostinaia",
            "spalnia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "338e08faa287746e"
            ]
        ]
    },
    {
        "id": "6c579a31260ecf94",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Я ушел",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "vanna",
            "gostinaia",
            "spalnia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "41ffc2af9f50e91f"
            ]
        ]
    },
    {
        "id": "0a90054171f923c7",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Я пришел",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "gostinaia",
            "spalnia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "{\"transition\": 30}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "0f0807896e947f6d"
            ]
        ]
    },
    {
        "id": "12b25f126f0db3a7",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Муз стоп",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_pause",
        "areaId": [
            "vanna",
            "gostinaia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "338e08faa287746e",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Муз стоп",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_pause",
        "areaId": [
            "vanna",
            "gostinaia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "41ffc2af9f50e91f",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Муз стоп",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_pause",
        "areaId": [
            "vanna",
            "gostinaia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "c30f21e08c79ac66"
            ]
        ]
    },
    {
        "id": "0f0807896e947f6d",
        "type": "alice-local-out",
        "z": "82c8056ed34d8fe7",
        "name": "Добро пожаловать",
        "token": "4c2bc885e9c33890",
        "station_id": "U00G79300M738K",
        "debugFlag": false,
        "input": "tts",
        "payload": "Добро пожаловать",
        "payloadType": "str",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "c30f21e08c79ac66",
        "type": "alice-local-out",
        "z": "82c8056ed34d8fe7",
        "name": "До встречи",
        "token": "4c2bc885e9c33890",
        "station_id": "U00G79300M738K",
        "debugFlag": false,
        "input": "tts",
        "payload": "До встречи, буду ждать",
        "payloadType": "str",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "1a81b3922c542d2f",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Любовь",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "vanna",
            "gostinaia",
            "spalnia",
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "2b3f6f7bb9450691"
            ]
        ]
    },
    {
        "id": "2b3f6f7bb9450691",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Муз старт",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_play",
        "areaId": [
            "kukhnia"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "d05ab1010d776726"
            ]
        ]
    },
    {
        "id": "d05ab1010d776726",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Включи лампа",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.yeelink_colorb_63c4_light"
        ],
        "data": "{\"transition\": 100, \"color_name\": \"red\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "edbe786429f780d3",
        "type": "server-state-changed",
        "z": "82c8056ed34d8fe7",
        "name": "Артём ушёл?",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person.test",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "2",
        "forType": "num",
        "forUnits": "hours",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 70,
        "y": 580,
        "wires": [
            [
                "41807664bc51f707"
            ],
            []
        ]
    },
    {
        "id": "41807664bc51f707",
        "type": "api-current-state",
        "z": "82c8056ed34d8fe7",
        "name": "Амина ушла?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.amina",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "2",
        "forType": "num",
        "forUnits": "hours",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "d63656c76b97ff53"
            ],
            []
        ]
    },
    {
        "id": "d63656c76b97ff53",
        "type": "weekday",
        "z": "82c8056ed34d8fe7",
        "name": "Пятница?",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": true,
        "sat": false,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "4a24122c70653fd3"
            ],
            []
        ]
    },
    {
        "id": "373a60bda177c6e9",
        "type": "api-call-service",
        "z": "82c8056ed34d8fe7",
        "name": "Уборка",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "vacuum",
        "service": "start",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 580,
        "wires": [
            [
                "c09af0277b2fc8ef"
            ]
        ]
    },
    {
        "id": "c09af0277b2fc8ef",
        "type": "api-current-state",
        "z": "82c8056ed34d8fe7",
        "name": "Артём дома?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.test",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "20",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "bed6f4c7871fe13f"
            ],
            [
                "53a49b6fda3c3b52"
            ]
        ]
    },
    {
        "id": "ba065389e4c54dba",
        "type": "delay",
        "z": "82c8056ed34d8fe7",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 660,
        "wires": [
            [
                "c09af0277b2fc8ef"
            ]
        ]
    },
    {
        "id": "53a49b6fda3c3b52",
        "type": "api-current-state",
        "z": "82c8056ed34d8fe7",
        "name": "Амина дома?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.amina",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "b302ece340aa2e69"
            ],
            [
                "ba065389e4c54dba"
            ]
        ]
    },
    {
        "id": "6ffd675f20dd6315",
        "type": "alice-local-out",
        "z": "82c8056ed34d8fe7",
        "name": "Пропылесосила",
        "token": "4c2bc885e9c33890",
        "station_id": "U00G79300M738K",
        "debugFlag": false,
        "input": "tts",
        "payload": "Пока никого не было, я пропылесосила. Пожалуйста, вытряхни мусор.",
        "payloadType": "str",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a24122c70653fd3",
        "type": "time-range-switch",
        "z": "82c8056ed34d8fe7",
        "name": "",
        "lat": "58.602",
        "lon": "49.574",
        "startTime": "10:00",
        "endTime": "18:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "373a60bda177c6e9"
            ],
            []
        ]
    },
    {
        "id": "bed6f4c7871fe13f",
        "type": "api-current-state",
        "z": "82c8056ed34d8fe7",
        "name": "Движение",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.dvizhenie_prikhozhaia_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "6ffd675f20dd6315"
            ],
            []
        ]
    },
    {
        "id": "b302ece340aa2e69",
        "type": "api-current-state",
        "z": "82c8056ed34d8fe7",
        "name": "Движение",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.dvizhenie_prikhozhaia_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1130,
        "y": 680,
        "wires": [
            [
                "525464e2cfc660d2"
            ],
            []
        ]
    },
    {
        "id": "525464e2cfc660d2",
        "type": "alice-local-out",
        "z": "82c8056ed34d8fe7",
        "name": "Пропылесосила",
        "token": "4c2bc885e9c33890",
        "station_id": "U00G79300M738K",
        "debugFlag": false,
        "input": "tts",
        "payload": "Дорогая,я пропылесосила сегодня, надо сказать Артёму что бы вытряхнул мусорку.",
        "payloadType": "str",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 1330,
        "y": 660,
        "wires": []
    },
    {
        "id": "e8bce66e16546215",
        "type": "server-state-changed",
        "z": "75cdd570ce26a7f0",
        "name": "Ванная влажность",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.ble_humidity_a4c138b0b2a2",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "60",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 60,
        "wires": [
            [
                "3713156fe58132f9"
            ],
            [
                "0335d60fc01cddd9"
            ]
        ]
    },
    {
        "id": "3713156fe58132f9",
        "type": "api-call-service",
        "z": "75cdd570ce26a7f0",
        "name": "Вытяжка вкл",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_100180f89f"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 270,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "97506bf3124cf7df",
        "type": "api-call-service",
        "z": "75cdd570ce26a7f0",
        "name": ".Выкл",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_100180f89f"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1f2873a9db4438dd",
        "type": "server-state-changed",
        "z": "75cdd570ce26a7f0",
        "name": "Комната влажность",
        "server": "60fd0896.9756a8",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.ble_humidity_a4c138699d60",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 260,
        "wires": [
            [
                "2e51ef9db56445ee"
            ]
        ]
    },
    {
        "id": "2e51ef9db56445ee",
        "type": "switch",
        "z": "75cdd570ce26a7f0",
        "name": "45-60",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "45",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "35",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "bcbc8f7a647ed741"
            ],
            [
                "e5985612c29a6780"
            ],
            [
                "300e2489977cbd24"
            ]
        ]
    },
    {
        "id": "bcbc8f7a647ed741",
        "type": "api-current-state",
        "z": "75cdd570ce26a7f0",
        "name": "Уровень воды",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "80",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.zhimi_cb1_7ae3_water_level",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "dff04b42780cb13c"
            ],
            [
                "e5985612c29a6780",
                "7fe36eb7c2b69c09"
            ]
        ]
    },
    {
        "id": "dff04b42780cb13c",
        "type": "api-call-service",
        "z": "75cdd570ce26a7f0",
        "name": "Увлажнитель вкл",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "humidifier",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "humidifier.zhimi_cb1_7ae3_humidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e5985612c29a6780",
        "type": "api-call-service",
        "z": "75cdd570ce26a7f0",
        "name": "Увлажнитель выкл",
        "server": "60fd0896.9756a8",
        "version": 5,
        "debugenabled": false,
        "domain": "humidifier",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "humidifier.zhimi_cb1_7ae3_humidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0f4e689150a8f4dd",
        "type": "alice-local-out",
        "z": "75cdd570ce26a7f0",
        "name": "Мало воды",
        "token": "4c2bc885e9c33890",
        "station_id": "U00G79300M738K",
        "debugFlag": false,
        "input": "tts",
        "payload": "В увлажнителе мало воды. Советую подлить, иначе будет вонять.",
        "payloadType": "str",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "7fe36eb7c2b69c09",
        "type": "api-current-state",
        "z": "75cdd570ce26a7f0",
        "name": "Движение",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.dvizhenie_na_kukhne_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "5",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "0f4e689150a8f4dd"
            ],
            []
        ]
    },
    {
        "id": "548ee83950437a61",
        "type": "alice-local-out",
        "z": "75cdd570ce26a7f0",
        "name": "Сухо",
        "token": "4c2bc885e9c33890",
        "station_id": "U00G79300M738K",
        "debugFlag": false,
        "input": "tts",
        "payload": "Ребята, сухо очень. Гляньте увлажнитель.",
        "payloadType": "str",
        "volume": "50",
        "volumeFlag": false,
        "stopListening": true,
        "pauseMusic": false,
        "noTrack": "",
        "whisper": false,
        "ttsVoice": "",
        "ttsEffect": "",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "300e2489977cbd24",
        "type": "api-current-state",
        "z": "75cdd570ce26a7f0",
        "name": "Движение",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.dvizhenie_na_kukhne_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "5",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "548ee83950437a61"
            ],
            []
        ]
    },
    {
        "id": "0335d60fc01cddd9",
        "type": "delay",
        "z": "75cdd570ce26a7f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "97506bf3124cf7df"
            ]
        ]
    },
    {
        "id": "7b968fa6e71622e5",
        "type": "debug",
        "z": "6af2bd55b3e8e5fd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "e74a2ea1125837ef",
        "type": "api-current-state",
        "z": "6af2bd55b3e8e5fd",
        "name": "Артём дома?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 640,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ea4a42bb7bc2d07d",
        "type": "api-current-state",
        "z": "6af2bd55b3e8e5fd",
        "name": "Амина дома?",
        "server": "60fd0896.9756a8",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.amina",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 640,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a783c7347ff5468f",
        "type": "inject",
        "z": "6af2bd55b3e8e5fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            []
        ]
    }
]
